# Created by .ignore support plugin (hsz.mobi)
### CMake template
internal/src/main/resources/org/glavo/llvm/internal/linux-x86_64/CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
internal/src/main/resources/org/glavo/llvm/internal/linux-x86_64/Makefile
internal/src/main/resources/org/glavo/llvm/internal/linux-x86_64/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug

### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.cbp

.idea
*.log

__***
libllvm4s.dylib
libllvm4s.so
llvm4s.dll